/Studinator/dist/
/Studinator/nbproject/private/
/studfileserver/nbproject/private/
/studfileserver/build/
/studfileserver/dist/
/studboardREST/nbproject/private/
/studboardREST/build/
/studboardREST/dist/
/Test/nbproject/private/
/studboardRESTtwo/nbproject/private/
/studboardRESTtwo/build/
/studboardRESTtwo/dist/